
body {
  /*width: 750px;
  margin-left: 200px;*/
  padding:50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.wrapper { 
49   width:860px; 
50   margin:0 auto; 
51 } 

